* {
	font-family: "Segoe UI";
}
img.vthumb {
	width: 256px;
	height: 144px;
	display: inline-block;
	outline: 1px solid black;
	margin-right: 8px;
	margin-top: 8px;
	float: left;
}
div.vdesc {
	margin-top: 8px;
}