* {
	font-family: "Segoe UI";
}

body.index, body.content {
	margin: 8px 0px;
}

body.index {
	background-color: #F5F5F5;
}

.title-container, .vtitle-container {
	display: block;
	padding: 0px 8px;
	clear: right;
}

.featured {
	background: #FFD090;
}

.title, .vtitle, .permalink {
	vertical-align: top;
}

.permalink {
	position: sticky;
	left: 100%;
	right: 0px;
	text-decoration: none;
	width: 8px;
	margin-left: 4px;
	margin-right: 0px;
	text-align: center;
}

img.vthumb, img.thumb {
	width: 256px;
	height: 144px;
	object-fit: contain;
	display: inline-block;
	background-color: #0A0A0A;
	outline: 1px solid #004E8E;
}

img.vthumb { float: left; }
img.thumb {	float: right; }

img.vthumb, div.vdesc, div.desc, img.thumb {
	margin: 0px 8px;
}