* {
	font-family: "Segoe UI";
}

body.index, body.content {
	margin: 8px 0px;
}

body.index {
	background-color: #F5F5F5;
}

.title-container, .vtitle-container, .vinfo-container {
	display: block;
	clear: right;
	padding: 0px 8px;
}

.title-container {
	min-height: 24px;
}

.title-container.featured {
	padding: 2px 8px;
}

.vtitle-container, .vinfo-container {
	height: 24px;
}

.featured {
	background: #FFD090;
}


hr.featured, hr.featured-begin {
	background: #FFD090;
	border-color: #FFD090;
}

hr.featured-begin {
	margin: 0px 0px 0px 0px;
}

hr.featured {
	margin: 0px 0px 8px 0px;
}

.title, .vtitle, .vinfo, .permalink {
	vertical-align: top;
}

.permalink {
	position: sticky;
	left: 100%;
	right: 0px;
	text-decoration: none;
	width: 8px;
	margin-left: 4px;
	margin-right: 0px;
	text-align: center;
}

img.vthumb, img.thumb, img.thumb-inline {
	object-fit: contain;
	display: inline-block;
	background-color: #0A0A0A;
	outline: 1px solid #004E8E;
}

img.thumb-inline {
	width: 32px;
	height: 24px;
	margin-right: 8px;
}

img.thumb-inline.broken {
	visibility: hidden;
}

img.vthumb, img.thumb {
	width: 256px;
	height: 144px;
}

img.vthumb { float: left; }
img.thumb {	float: right; }

img.vthumb, div.vdesc, div.desc, img.thumb {
	margin: 0px 8px;
}